#ifndef config_h
#define config_h

#define SSID "your-wifi-network-name"
#define PASSWORD "your-wifi-network-password"

#define MQTT_ADDRESS "192.168.0.4"
#define MQTT_PORT 1883

#define DEFAULT_WATER_TIME 15000
#define NUM_PLANTS 3
#define PUMP_PIN GPIO_NUM_18
// List of plant pins in this format: {PUMP_PIN, VALVE_PIN, BUTTON_PIN}
#define PLANT_1 { PUMP_PIN, GPIO_NUM_16, GPIO_NUM_19 }
#define PLANT_2 { PUMP_PIN, GPIO_NUM_17, GPIO_NUM_21 }
#define PLANT_3 { PUMP_PIN, GPIO_NUM_5, GPIO_NUM_22 }
#define PLANTS { PLANT_1, PLANT_2, PLANT_3 }

#define STOP_BUTTON_PIN GPIO_NUM_23

#define ENABLE_WATERING_INTERVAL
#ifdef ENABLE_WATERING_INTERVAL
#define INTERVAL 86400000 // 24 hours
#endif

#endif
