#ifndef config_h
#define config_h

#define SSID "your-wifi-network-name"
#define PASSWORD "your-wifi-network-password"

#define MQTT_ADDRESS "192.168.0.4"
#define MQTT_PORT 1883

#define VALVE_1_PIN 16
#define VALVE_2_PIN 17
#define VALVE_3_PIN 5
#define PUMP_PIN 18

#define BUTTON_1_PIN 19
#define BUTTON_2_PIN 21
#define BUTTON_3_PIN 22
#define STOP_BUTTON_PIN 23

#endif
