{{ define "WaterScheduleModal" }}
{{ $name := .Name }}
{{ if eq $name "" }}
{{ $name = .ID }}
{{ end }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title">{{ $name }}</h3>

        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ end }}

        {{ template "waterScheduleDetails" . }}

        <button id="cancelButton" type="button" class="uk-button uk-button-default uk-margin-top"
            _="on click take .uk-open from #modal wait 200ms then remove #modal">Close</button>
    </div>
</div>
{{ end }}