{{ define "WaterSchedules" }}
{{ template "start" }}
<div uk-grid>
    {{ range .Items }}
    {{ template "waterScheduleCard" . }}
    {{ end }}
</div>
{{ template "end" }}
{{ end }}

{{ define "waterScheduleCard" }}
{{ $name := .Name }}
{{ if eq $name "" }}
{{ $name = .ID }}
{{ end }}
<div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default" style="margin: 5%;">
        <div class="uk-card-header uk-text-center">
            <h3 class="uk-card-title uk-margin-remove-bottom">
                <a id="showButton" hx-get="/water_schedules/{{ .ID }}/modal?edit=false"
                    hx-headers='{"Accept": "text/html"}' hx-target="#modals-here"
                    _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
                    {{ $name }}
                </a>
            </h3>
            <!-- TODO: Ideally, this would be a more discrete edit icon, but I can't get it positioned correctly -->
            <a class="uk-card-badge uk-label" id="showButton" hx-get="/water_schedules/{{ .ID }}/modal"
                hx-headers='{"Accept": "text/html"}' hx-target="#modals-here"
                _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
                Edit
            </a>
            <div id="modals-here"></div>
        </div>
        <div class="uk-card-body">
            {{ if .NextWater }}
            {{ template "nextWaterDetail" .NextWater }}
            {{ end }}

            {{ template "waterScheduleDetails" . }}
        </div>
    </div>
</div>
{{ end }}

{{ define "waterScheduleDetails" }}
<div class="uk-margin-top" uk-margin>
    <span class="uk-label uk-label-primary" uk-tooltip="Duration">
        <span uk-icon="future" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ FormatDuration .Duration }}
    </span>
    <span class="uk-label uk-label-primary" uk-tooltip="Start Time">
        <span uk-icon="clock" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ FormatTimeOnly
        .StartTime }}
    </span>
    <span class="uk-label uk-label-primary" uk-tooltip="Interval">
        <span uk-icon="refresh" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ FormatDuration
        .Interval }}
    </span>
    {{ if .ActivePeriod }}
    {{ $activePeriod := Sprintf "%s - %s" (ShortMonth .ActivePeriod.StartMonth) (ShortMonth .ActivePeriod.EndMonth) }}
    {{ if .IsActive timeNow }}
    <span class="uk-label uk-label-success" uk-tooltip="Active">
        <span uk-icon="calendar" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ $activePeriod }}
    </span>
    {{ else }}
    <span class="uk-label uk-label-danger" uk-tooltip="Inactive">
        <span uk-icon="calendar" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ $activePeriod }}
    </span>
    {{ end }}
    {{ end }}
</div>
{{ end }}