{{ define "ZoneDetails" }}
{{ template "start" }}
<!-- TODO: breadcrumb to go back to zone -->
<h1 class="uk-heading-small uk-text-center">{{ .Response.Zone.Name }}</h1>
<div uk-grid>
    {{ template "zoneInfo" .Response }}
    {{ template "waterHistoryTable" .Response }}
</div>
{{ template "start" }}
{{ end }}

{{ define "zoneInfo" }}
<div class="uk-align-center uk-width-1-1 uk-margin-left uk-margin-right">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body  uk-text-center">
                <h3 class="uk-card-title">Actions</h3>
                <form class="uk-form-horizontal" hx-headers='{"Accept": "text/html"}'
                    hx-post="/gardens/{{ .GardenID }}/zones/{{ .ID }}/action" hx-on::after-request="this.reset()"
                    hx-swap="none">
                    <input class="uk-input uk-form-width-small" type="text" placeholder="Duration"
                        name="water.duration">
                    <button class="uk-button uk-button-primary uk-margin-left">Water
                        Zone</button>
                </form>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
                <h3 class="uk-card-title">
                    <a id="showButton" hx-get="/water_schedules/{{ .NextWater.WaterScheduleID }}/modal?edit=false"
                        hx-headers='{"Accept": "text/html"}' hx-target="#modals-here"
                        _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
                        Water Schedule
                    </a>
                </h3>
                <!-- TODO: Ideally, this would be a more discrete edit icon, but I can't get it positioned correctly -->
                <a class="uk-card-badge uk-label" id="showButton"
                    hx-get="/water_schedules/{{ .NextWater.WaterScheduleID }}/modal"
                    hx-headers='{"Accept": "text/html"}' hx-target="#modals-here"
                    _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
                    Edit
                </a>
                <div id="modals-here"></div>
                {{ template "nextWaterDetail" .NextWater }}
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title uk-text-center">Details</h3>
                {{ if .Details }}
                <p>{{ .Details.Description }}</p>
                <p>{{ .Details.Notes }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "waterHistoryTable" }}
<div class="uk-card uk-width-1-1">
    <div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
        <div class="uk-card-header uk-text-center">
            <h2>Water History</h2>
        </div>
        <table class="uk-table uk-table-striped uk-margin-left uk-margin-right">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Duration</th>
                </tr>
            </thead>

            <tbody>
                {{ if .HistoryError }}
                <tr>
                    <td>{{ .HistoryError }}</td>
                    <td></td>
                </tr>
                {{ end }}
                {{ range .History.History }}
                <tr>
                    <td>{{ .Duration }}</td>
                    <td>{{ FormatDateTime .RecordTime }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}