{{ define "Zones" }}
{{ template "start" }}
<h1 class="uk-heading-small uk-text-center">{{ .Garden.Name }}</h1>
<div uk-grid>
    {{ range .Items }}
    {{ template "ZoneCard" . }}
    {{ end }}
</div>
{{ template "end" }}
{{ end }}

{{ define "ZoneCard" }}
<div class="uk-width-1-2@m" id="zone-card-{{ .ID }}">
    <div class="uk-card uk-card-default" style="margin: 5%;">
        <div class="uk-card-header uk-text-center">
            <h3 class="uk-card-title uk-margin-remove-bottom">
                <a href="/gardens/{{ .GardenID }}/zones/{{ .ID }}?limit=10&range=720h">{{ .Name }}</a>
            </h3>
        </div>
        <div class="uk-card-body">
            {{ template "nextWaterDetail" .NextWater }}
        </div>
        <div class="uk-card-footer">
            <div class="uk-clearfix">
                <div class="uk-float-left">
                    {{ template "deleteButton" . }}
                </div>
                <div class="uk-float-right">
                    {{ template "infoPopover" . }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "nextWaterDetail" }}
{{ if and .Duration .Time }}
<div>
    </span> Watering for
    <span class="uk-text-primary">{{ FormatDuration .Duration }}</span>
    {{ FormatUpcomingDate .Time }}
</div>
{{ end }}

{{ if .Message }}
<div class="uk-alert-danger uk-alert" uk-alert>
    <p class="uk-text-danger">{{ .Message }}</p>
</div>
{{ end }}
{{ end }}

{{ define "deleteButton" }}
<div class="uk-inline">
    <button class="uk-button uk-button-danger" type="button"><span uk-icon="trash"></span></button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li>
                <a hx-delete="/gardens/{{ .GardenID }}/zones/{{ .ID }}" hx-swap="swap:1s"
                    hx-target="#zone-card-{{ .ID }}">
                    <span uk-icon="ban"></span> Confirm Delete
                </a>
            </li>
        </ul>
    </div>
</div>
{{ end }}

{{ define "infoPopover" }}
<div class="uk-inline">
    <span class="uk-margin-small-right" uk-icon="info"></span>
    <div uk-dropdown>
        <p><b>{{ .ID }}</b></p>
        <p>Position: {{ .Position }}</p>
        <p>Water Schedules: {{ .WaterScheduleIDs }}</p>
    </div>
</div>
{{ end }}