---
version: 2
interactions:
  - id: 0
    request:
      host: api.open-meteo.com
      body: ""
      form: {}
      headers:
      url: https://api.open-meteo.com/v1/forecast?daily=temperature_2m_max&latitude=37.774900&longitude=-122.419400&past_days=8&timezone=auto
      method: GET
    response:
      body: '{"latitude":37.7749,"longitude":-122.4194,"generationtime_ms":0.5,"utc_offset_seconds":-28800,"timezone":"America/Los_Angeles","timezone_abbreviation":"PST","elevation":30.0,"daily_units":{"time":"iso8601","temperature_2m_max":"°C"},"daily":{"time":["2024-01-01","2024-01-02","2024-01-03","2024-01-04","2024-01-05","2024-01-06","2024-01-07","2024-01-08"],"temperature_2m_max":[24.0,25.0,24.5,24.5,24.0,25.0,24.0,24.5]}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 100ms
