---
version: 2
interactions:
  - id: 0
    request:
      host: api.netatmo.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer ACCESS_TOKEN
      url: https://api.netatmo.com/api/getmeasure?date_begin=DATE_BEGIN&date_end=DATE_END&device_id=STATION_ID&module_id=OUTDOOR_MODULE_ID&optimize=false&real_time=false&scale=1day&type=max_temp
      method: GET
    response:
        - chunked
      body: '{"body":{"1720465200":[49],"1720551600":[48.2],"1720638000":[47]},"status":"ok","time_exec":0.02807903289794922,"time_server":1720725568}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 10ms
