---
version: 2
interactions:
  - id: 0
    request:
      host: api.netatmo.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer ACCESS_TOKEN
      url: https://api.netatmo.com/api/getstationsdata?get_favorites=false
      method: GET
    response:
        - chunked
      body: '{"body":{"devices":[{"_id":"STATION_ID","module_name":"Weather Station","modules":[{"_id":"OUTDOOR_MODULE_ID","module_name":"Outdoor Module"},{"_id":"RAIN_MODULE_ID","module_name":"Smart Rain Gauge"}]}]}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 10ms
