---
version: 2
interactions:
  - id: 0
    request:
      host: api.netatmo.com
      body: client_id=CLIENT_ID&client_secret=CLIENT_SECRET&grant_type=refresh_token&refresh_token=REFRESH_TOKEN
      form:
        client_id:
          - CLIENT_ID
        client_secret:
          - CLIENT_SECRET
        grant_type:
          - refresh_token
        refresh_token:
          - REFRESH_TOKEN
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
      url: https://api.netatmo.com/oauth2/token
      method: POST
    response:
        - chunked
      body: '{"access_token":"ACCESS_TOKEN","refresh_token":"NEW_REFRESH_TOKEN","expires_in":10800,"expire_in":10800,"scope":["read_station"]}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 10ms
  - id: 1
    request:
      host: api.netatmo.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer ACCESS_TOKEN
      url: https://api.netatmo.com/api/getmeasure?date_begin=DATE_BEGIN&device_id=STATION_ID&module_id=RAIN_MODULE_ID&optimize=false&real_time=false&scale=1day&type=sum_rain
      method: GET
    response:
        - chunked
      body: '{"body":{"1720551600":[0],"1720638000":[0],"1720724400":[0]},"status":"ok","time_exec":0.0270078182220459,"time_server":1720722405}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 10ms
