---
version: 2
interactions:
  - id: 0
    request:
      host: api.netatmo.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer ACCESS_TOKEN
      url: https://api.netatmo.com/api/getmeasure?date_begin=DATE_BEGIN&device_id=STATION_ID&module_id=RAIN_MODULE_ID&optimize=false&real_time=false&scale=1day&type=sum_rain
      method: GET
    response:
        - chunked
      body: '{"body":{"1720551600":[0],"1720638000":[0],"1720724400":[0]},"status":"ok","time_exec":0.03505086898803711,"time_server":1720711560}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 10ms
