web_server:
  port: 8080
mqtt:
  broker: "localhost"
  port: 1883
  client_id: "garden-app"
  water_topic: "{{.Garden}}/command/water"
  stop_topic: "{{.Garden}}/command/stop"
  stop_all_topic: "{{.Garden}}/command/stop_all"
  light_topic: "{{.Garden}}/command/light"
influxdb:
  address: "http://localhost:8086"
  token: "my-token"
  org: "garden"
  bucket: "garden"
storage:
  driver: "hashmap"
  options:
    filename: "gardens.yaml"
# or use redis storage:
# storage:
#   type: "KV"
#   options:
#     driver: "redis"
#     Server: "localhost:6379"
