web_server:
  port: 80
  plants_filename: "plants.yaml"
mqtt:
  address: "localhost"
  port: 1883
  watering_topic: "garden/command/water"
  skip_topic: "garden/command/skip"
  stop_topic: "garden/command/stop"
  stop_all_topic: "garden/command/stop_all"
