web_server:
  port: 80
mqtt:
  broker: "localhost"
  port: 1883
  client_id: "garden-app"
  watering_topic: "{{.Garden}}/command/water"
  stop_topic: "{{.Garden}}/command/stop"
  stop_all_topic: "{{.Garden}}/command/stop_all"
  light_topic: "{{.Garden}}/command/light"
influxdb:
  address: "http://localhost:8086"
  token: "my-token"
  org: "garden"
  bucket: "garden"
storage:
  type: "YAML"
  options:
    filename: "gardens.yaml"
