c22tmvucie6n6gdrpal0:
    name: Test Garden
    topic_prefix: test-garden
    id: c22tmvucie6n6gdrpal0
    plants:
        c3ucvu06n88pt1dom670:
            name: Tom Thumb Lettuce
            details:
                description: Dwarf lettuce variety
                notes: Planted from seed
                time_to_harvest: 70 days
                count: 6
            id: c3ucvu06n88pt1dom670
            plant_position: 0
            created_at: 2021-07-24T19:44:08.014997-07:00
            water_schedule:
                duration: 5m
                interval: 30m
                start_time: 2021-07-24T19:00:00-07:00
    created_at: 2021-08-03T19:53:14.816332-07:00
