---
version: 2
interactions:
    - id: 0
      request:
        host: api.pushover.net
        body: message=watered+for+6s&priority=0&title=+finished+watering&token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa&user=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        form:
            message:
                - watered for 6s
            priority:
                - "0"
            title:
                - ' finished watering'
            token:
                - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            user:
                - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://api.pushover.net/1/messages.json
        method: POST
      response:
        body: '{"token":"invalid","errors":["application token is invalid, see https://pushover.net/api"],"status":0,"request":"85158a2e-3f89-456b-9262-d14915ad76bc"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 308.7185ms
