{{ define "GardensPage" }}
{{ template "start" }}
{{ template "Gardens" . }}
{{ template "end" }}
{{ end }}

{{ define "Gardens" }}
<div hx-swap="outerHTML" hx-get="/gardens?refresh=true" hx-headers='{"Accept": "text/html"}'
    hx-trigger="newGarden from:body" uk-grid>
    {{ range .Items }}
    {{ template "GardenCard" . }}
    {{ end }}
</div>
{{ end }}

{{ define "GardenCard" }}
<div class="uk-width-1-2@m" id="garden-card-{{ .ID }}">
    <div id="edit-modal-here"></div>
    <div class="uk-card uk-card-default" style="margin: 5%;">
        <div class="uk-card-header uk-text-center">
            <h3 class="uk-card-title uk-margin-remove-bottom">
                <a href="/gardens/{{ .ID }}/zones?exclude_weather_data=true">{{ .Name }}</a>
            </h3>
            {{ template "cardEditButton" (print "/gardens/" .ID "/components?type=edit_modal") }}
        </div>
        <div class="uk-card-body">
            {{ if not .EndDated }}
            {{ template "healthBadge" . }}
            {{ end }}

            <span class="uk-label">
                {{ .NumZones }} Zones <i class="bi-grid"></i>
            </span>

            {{ if .LightSchedule }}
            {{ template "lightScheduleDetails" . }}
            {{ end }}

            {{ if .TemperatureHumidityData }}
            {{ template "temperatureHumidityDetails" .TemperatureHumidityData }}
            {{ end }}
        </div>
        <div class="uk-card-footer">
            <div class="uk-clearfix">
                <div class="uk-float-left">
                    {{ template "gardenActionButton" . }}
                </div>
                <div class="uk-float-right">
                    {{ template "gardenInfoPopover" . }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "temperatureHumidityDetails" }}
<p>
    <span>
        Temperature: {{ $tempF := CelsiusToFahrenheit .TemperatureCelsius }}
        {{ Sprintf "%.2f" $tempF }}°F
        <progress class="uk-progress" value="{{ $tempF }}" max="120"></progress>
    </span>
    <span>
        Humidity: {{ Sprintf "%.2f" .HumidityPercentage }}%
        <progress class="uk-progress" value="{{ .HumidityPercentage }}" max="100"></progress>
    </span>
</p>
{{ end }}

{{ define "lightScheduleDetails" }}
<p>
    {{ $textColor := "uk-text-muted" }}
    {{ if eq .NextLightAction.State.String "ON" }}
    <span uk-icon="chevron-up" uk-tooltip="Turning On"></span>
    {{ $textColor = "uk-text-warning" }}
    {{ else }}
    <span uk-icon="chevron-down" uk-tooltip="Turning Off"></span>
    {{ end }}
    Light will turn <span class="{{ $textColor }}">{{ .NextLightAction.State }}</span> {{ FormatUpcomingDate
    .NextLightAction.Time }}
</p>

<p>
    <span>
        <span uk-icon="future" uk-tooltip="Duration"></span> {{ FormatDuration .LightSchedule.Duration }}
        <span uk-icon="clock" uk-tooltip="Start Time"></span> {{ FormatStartTime .LightSchedule.StartTime }}
    </span>
</p>
{{ end }}

{{ define "gardenActionButton" }}
<div class="uk-inline">
    <button class="uk-button uk-button-default" type="button">Actions</button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            {{ if .LightSchedule }}
            <li>
                {{ template "lightActionButton" (args "ID" .ID.String "State" "ON") }}
            </li>
            <li>
                {{ template "lightActionButton" (args "ID" .ID.String "State" "OFF") }}
            </li>
            {{ end }}
            <li>
                <a hx-post="/gardens/{{ .ID }}/action" hx-include="this" hx-swap="none" {{
                    template "actionFeedback" "danger" }}>
                    <input type="hidden" name="stop.all" value="true">
                    <span uk-icon="ban"></span> Stop Watering
                </a>
            </li>
        </ul>
    </div>
</div>
{{ end }}

{{ define "lightActionButton" }}
<a hx-post="/gardens/{{ .ID }}/action" hx-include="this" hx-swap="none" id="light-action-{{ .ID }}-{{ .State }}" {{
    template "actionFeedback" "warning" }}>
    <input type="hidden" name="light.state" value="{{ .State }}">
    {{ if eq .State "ON" }}
    <span uk-icon="upload"></span>
    {{ else }}
    <span uk-icon="download"></span>
    {{ end }}
    Light {{ .State }}
</a>
{{ end }}

{{ define "gardenInfoPopover" }}
<div class="uk-inline">
    <span class="uk-margin-small-right" uk-icon="info"></span>
    <div uk-dropdown>
        <p><b>{{ .ID }}</b></p>
        <p>Topic prefix: {{ .TopicPrefix }}</p>
    </div>
</div>
{{ end }}

{{ define "healthBadge" }}
{{ $labelColor := "warning" }}
{{ if eq .Health.Status "UP" }}
{{ $labelColor = "success" }}
{{ else if eq .Health.Status "DOWN" }}
{{ $labelColor = "danger" }}
{{ end }}
<span class="uk-label uk-label-{{ $labelColor }}">
    {{ .Health.Status }}
</span>
<div uk-dropdown="pos: right-center">
    <p>{{ .Health.Details }}</p>
</div>
{{ end }}