{{ define "GardenWaterHistoryPage" }}
{{ template "start" }}
{{ template "gardenWaterHistoryTableSection" . }}
{{ template "end" }}
{{ end }}

{{ define "gardenWaterHistoryTableSection" }}
<div id="garden-water-history-table" class="uk-card uk-width-1-1">
    <div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
        <div class="uk-text-center uk-margin-top">
            <div uk-spinner></div>
        </div>
    </div>
</div>
<div hx-get="/gardens/{{ .Garden.ID }}/water_history?table=true&limit=20&range=720h"
     hx-headers='{"Accept": "text/html"}'
     hx-trigger="load" hx-swap="innerHTML" hx-target="#garden-water-history-table"
     hx-on::response-error="this.previousElementSibling.innerHTML = '<div class=\'uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top\'><div class=\'uk-alert-danger uk-alert\' uk-alert><p>Failed to load water history</p></div></div>'">
</div>
{{ end }}

{{ define "gardenWaterHistoryTable" }}
<div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-striped uk-margin-left uk-margin-right">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>Status</th>
                    <th>Source</th>
                    <th>Duration</th>
                    <th>Sent</th>
                    <th>Started</th>
                    <th>Completed</th>
                </tr>
            </thead>

            <tbody>
                {{ range .History }}
                <tr>
                    <td>
                        {{ $zoneName := index $.ZoneNames .ZoneID }}
                        {{ if $zoneName }}
                        <a href="/gardens/{{ $.Garden.ID }}/zones/{{ .ZoneID }}?exclude_weather_data=true">{{ $zoneName }}</a>
                        {{ else }}
                        {{ .ZoneID }}
                        {{ end }}
                    </td>
                    <td>{{ .Status }}</td>
                    <td>{{ .Source }}</td>
                    <td>{{ .Duration }}</td>
                    <td><time datetime="{{ FormatRFC3339NonZero .SentAt }}" data-format="local">{{ FormatRFC3339NonZero .SentAt }}</time></td>
                    <td><time datetime="{{ FormatRFC3339NonZero .StartedAt }}" data-format="local">{{ FormatRFC3339NonZero .StartedAt }}</time></td>
                    <td><time datetime="{{ FormatRFC3339NonZero .CompletedAt }}" data-format="local">{{ FormatRFC3339NonZero .CompletedAt }}</time></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
