{{ define "GardenModal" }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title">{{ if .Name }}{{ .Name }}{{ else }}Create Garden{{ end }}</h3>

        <form _="on submit take .uk-open from #modal" hx-put="/gardens/{{ .ID }}" hx-headers='{"Accept": "text/html"}'
            hx-swap="none">
            <input type="hidden" value="{{ .ID }}" name="ID">
            <input type="hidden" value="{{ RFC3339Nano .CreatedAt }}" name="CreatedAt">
            <div class="uk-margin">
                <label class="uk-form-label" for="garden-name">Name</label>
                <input id="garden-name" class="uk-input" value="{{ .Name }}" placeholder="Name" name="Name">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="garden-topic-prefix">Topic Prefix</label>
                <input id="garden-topic-prefix" class="uk-input" value="{{ .TopicPrefix }}" placeholder="Topic Prefix"
                    name="TopicPrefix">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="garden-max-zones">Max Zones</label>
                <input id="garden-max-zones" class="uk-input" type="number"
                    value="{{ if .MaxZones }}{{ .MaxZones }}{{ else }}1{{ end }}" placeholder="MaxZones"
                    name="MaxZones">
            </div>

            <div class="uk-margin">
                <input
                    class="uk-checkbox"
                    id="garden-temp-hum"
                    type="checkbox"
                    name="TemperatureHumiditySensor"
                    value="true"
                    {{ if .TemperatureHumiditySensor }}checked{{ end }}>
                <label class="uk-form-label" for="garden-temp-hum"> Temperature/Humidity Sensor</label>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="garden-light-schedule-duration">Light Schedule Duration</label>
                <select id="garden-light-schedule-duration" class="uk-select" name="LightSchedule.Duration">
                    <option disabled value="" {{ if eq .LightSchedule nil }}selected{{ end }}>Light Schedule Duration</option>
                    {{ range $i, $selected := LightScheduleRange .LightSchedule }}
                    <option value="{{ $i }}h" {{ $selected }}>{{ $i }} hours</option>
                    {{ end }}
                </select>
            </div>
            <div class="uk-margin">
                {{ if .LightSchedule }}
                {{ template "startTimeInput" (args "Name" "LightSchedule.StartTime" "StartTime"
                .LightSchedule.StartTime) }}
                {{ else }}
                {{ template "startTimeInput" (args "Name" "LightSchedule.StartTime") }}
                {{ end }}
            </div>
            
            <div class="uk-margin">
                <label class="uk-form-label" for="notification-client-select">Notification Client</label>
                <select id="notification-client-select" class="uk-select" name="NotificationClientID">
                    {{ $noClientSelected := true }}
                    $noClientSelected = eq .NotificationClientID nil
                    <option disabled value="" {{ if $noClientSelected }}selected{{ end }}>Notification Client</option>
                    
                    {{ $g := . }}
                    {{ range $i, $nc := .NotificationClients }}
                    {{/* check if $g is nil before calling CompareNotificationClientID */}}
                    {{ $selected := and $g (CompareNotificationClientID $nc.GetID $g) }}
                    <option value="{{ $nc.GetID }}" {{ if $selected }}selected{{ end }}>{{ $nc.Name }}</option>
                    {{ end }}
                </select>
            </div>
            
            {{ if .MaxZones }}
            {{ $controllerConfig := .ControllerConfig }}
            <div class="uk-margin">
                <label class="uk-form-label">Valve Pins</label>
                <div class="uk-grid-small" uk-grid>
                    {{ range $i := (UIntRange .MaxZones) }}
                    <div>
                        <label class="uk-form-label" for="garden-config-valvepin-{{ $i }}">Zone {{ $i }}</label>
                        <input id="garden-config-valvepin-{{ $i }}" class="uk-input uk-form-width-xsmall" type="number"
                            value="{{ $controllerConfig.ValvePin $i }}" placeholder="" min="0"
                            name="ControllerConfig.ValvePins.{{ $i }}">
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Pump Pins<span uk-tooltip="If you don't use a pump, set to the same pin as valves" uk-icon="icon: info; ratio: 0.75"></span></label>
                <div class="uk-grid-small" uk-grid>
                    {{ range $i := (UIntRange .MaxZones) }}
                    <div>
                        <label class="uk-form-label" for="garden-config-pumppin-{{ $i }}">Zone {{ $i }}</label>
                        <input id="garden-config-pumppin-{{ $i }}" class="uk-input uk-form-width-xsmall" type="number"
                            value="{{ $controllerConfig.PumpPin $i }}" placeholder="" min="0"
                            name="ControllerConfig.PumpPins.{{ $i }}">
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}

            {{ if .LightSchedule }}
            <div class="uk-margin">
                <label class="uk-form-label" for="garden-config-light-pin">Light Pin</label>
                <input id="garden-config-light-pin" class="uk-input" type="number"
                    value="{{ if and .ControllerConfig .ControllerConfig.LightPin }}{{ .ControllerConfig.LightPin }}{{ end }}" placeholder="Light Pin"
                    name="ControllerConfig.LightPin">
            </div>
            {{ end }}

            {{ if .TemperatureHumiditySensor }}
            <div class="uk-margin">
                <label class="uk-form-label" for="garden-config-temp-hum-pin">Temperature/Humidity Sensor Pin</label>
                <input id="garden-config-temp-hum-pin" class="uk-input" type="number"
                    value="{{ if and .ControllerConfig .ControllerConfig.TemperatureHumidityPin }}{{ .ControllerConfig.TemperatureHumidityPin }}{{ end }}" placeholder="Temperature/Humidity Sensor Pin"
                    name="ControllerConfig.TemperatureHumidityPin">
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="garden-config-temp-hum-interval">Temperature/Humidity Sensor Interval</label>
                <input id="garden-config-temp-hum-interval" class="uk-input" value="{{ if .ControllerConfig.TemperatureHumidityInterval }}{{ .ControllerConfig.TemperatureHumidityInterval }}{{ end }}" placeholder="Temperature/Humidity Sensor Interval"
                    name="ControllerConfig.TemperatureHumidityInterval">
            </div>
            {{ end }}

            {{ template "modalSubmitButton" }}
            {{ if .Name }}
            {{ template "deleteButton" (
            args "HXDelete" (print "/gardens/" .ID) "HXTarget" (print "#garden-card-" .ID)
            ) }}
            {{ end }}
            {{ template "modalCloseButton" }}
        </form>
    </div>
</div>
{{ end }}