{{ define "innerHTML" }}
<div class="container">
    <div class="row">
        {{ range .Gardens }}
        {{ template "GardenCard" . }}
        {{ end }}
    </div>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
</div>
{{ end }}

{{ define "GardenCard" }}
<div class="col-lg-6">
    <div class=".col-lg-4 card" style="margin: 5%;"><a href="/gardens/{{ .ID }}" style="text-decoration: none;">
            <div class="text-center card-header">
                <h5 class="card-title">
                    {{ .Name }}
                    {{ if not .EndDated }}

                    {{ $badgeColor := "secondary" }}
                    {{ $icon := "bi-wifi-off" }}
                    {{ if eq .Health.Status "UP" }}
                    {{ $badgeColor = "primary" }}
                    {{ $icon = "bi-wifi" }}
                    {{ else if eq .Health.Status "DOWN" }}
                    {{ $badgeColor = "danger" }}
                    {{ end }}

                    <a href="#" data-bs-toggle="popover" data-bs-title="Health Details" data-bs-content="{{ .Health.Details }}" data-bs-trigger="hover focus">
                    <span id="status-badge-{{ .ID }}" class="badge text-bg-{{ $badgeColor }}">
                        <i class="bi-wifi"></i> {{ .Health.Status }}
                    </span>
                    </a>
                    {{ end }} 
                </h5>
            </div>
        </a>
        <div class="card-body">
            <p class="card-text">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="badge-lg">
                            <span class="badge text-bg-secondary rounded-pill">
                                {{ .NumZones }} Zones <i class="bi-grid"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="badge-lg">
                            <span class="badge text-bg-secondary rounded-pill">
                                {{ .NumPlants }} Plants<i class="bi-tree"></i>
                            </span>
                        </div>
                    </div>
                </div>

                {{ if .LightSchedule }}
                <div class="row">
                    <a data-bs-toggle="collapse" href="#collapseLightDetails{{ .ID }}" role="button"
                        aria-expanded="false" aria-controls="collapseLightDetails"
                        style="text-decoration: none; color: inherit;">
                        <div class="card card-body">
                            Light will turn {{ .NextLightAction.State }} at {{ .NextLightAction.Time }} 
                            {{ if eq .NextLightAction.State.String "ON" }}
                            <i class="bi-sunrise" style="color: orange;"></i>
                            {{ else }}
                            <i class="bi-sunset" style="color: gray;"></i>
                            {{ end }}
                        </div>
                    </a>

                    <div class="collapse" id="collapseLightDetails{{ .ID }}">
                        <div class="row">
                            <div class="card card-body">
                                <div class="col">Duration: {{ .LightSchedule.Duration }} <i class="bi-hourglass-split"></i></div>
                                <div class="col">Starting At: {{ .LightSchedule.StartTime }} <i class="bi-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            </p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu">
                        {{ if .LightSchedule }}
                        <li>
                            <button type="button" class="dropdown-item">
                                <i class="bi-toggle-on"></i> Light ON
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item">
                                <i class="bi-toggle-off"></i> Light OFF
                            </button>
                        </li>
                        {{ end }}
                        <li>
                            <button type="button" class="dropdown-item">
                                <i class="bi-sign-stop-fill"></i> Stop Watering
                            </button>
                        </li>
                    </ul>
                </div>

                <i id="info-{{ .ID }}" class="col offset-sm-6 bi-info-circle"
                data-bs-trigger="hover focus" data-bs-toggle="popover"
                id="infoPopover{{ .ID }}" data-bs-title="{{ .ID }}"
                data-bs-content="Topic prefix: {{ .TopicPrefix }}"></i>
            </div>
        </div>
    </div>
</div>
{{ end }}