{{ define "GardenModal" }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h3 class="uk-modal-title">{{ if .Name }}{{ .Name }}{{ else }}Create Garden{{ end }}</h3>

        <form _="on submit take .uk-open from #modal" hx-put="/gardens/{{ .ID }}" hx-headers='{"Accept": "text/html"}'
            hx-swap="none">
            <input type="hidden" value="{{ .ID }}" name="ID">
            <input type="hidden" value="{{ RFC3339Nano .CreatedAt }}" name="CreatedAt">
            <div class="uk-margin">
                <input class="uk-input" value="{{ .Name }}" placeholder="Name" name="Name">
            </div>
            <div class="uk-margin">
                <input class="uk-input" value="{{ .TopicPrefix }}" placeholder="Topic Prefix" name="TopicPrefix">
            </div>
            <div class="uk-margin">
                <input class="uk-input" value="{{ if .MaxZones }}{{ .MaxZones }}{{ else }}1{{ end }}"
                    placeholder="MaxZones" name="MaxZones">
            </div>

            <div class="uk-margin">
                <select class="uk-select" name="LightSchedule.Duration">
                    <option disabled {{ if eq .LightSchedule nil }}selected{{ end }}>Light Schedule Duration</option>
                    {{ range $i, $selected := LightScheduleRange .LightSchedule }}
                    <option value="{{ $i }}h" {{ $selected }}>{{ $i }} hours</option>
                    {{ end }}
                </select>
            </div>
            <div class="uk-margin">
                <input class="uk-input" {{ if .LightSchedule }} value="{{ .LightSchedule.StartTime }}" {{ end }}
                    placeholder="Light Schedule Start Time (15:04:05-07:00)" name="LightSchedule.StartTime">
            </div>

            {{ template "modalSubmitButton" }}
            {{ if .Name }}
            {{ template "deleteButton" (
            args "HXDelete" (print "/gardens/" .ID) "HXTarget" (print "#garden-card-" .ID)
            ) }}
            {{ end }}
            {{ template "modalCloseButton" }}
        </form>
    </div>
</div>
{{ end }}