{{ define "cardEditButton" }}
<div class="uk-position-top-right uk-margin-small-top uk-margin-small-right">
    <a hx-get="{{ . }}" hx-headers='{"Accept": "text/html"}' hx-target="#edit-modal-here" uk-icon="icon: file-edit"
        _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
    </a>
</div>
{{ end }}

{{ define "closeModal" }}
_="on click take .uk-open from #modal wait 200ms then remove #modal"
{{ end }}

{{ define "modalSubmitButton" }}
<button type="submit" class="uk-button uk-button-primary" {{ template "closeModal" }}>
    Submit
</button>
{{ end }}

{{ define "modalCloseButton" }}
<button id="cancelButton" type="button" class="uk-button uk-button-default" {{ template "closeModal" }}>
    Close
</button>
{{ end }}

{{ define "actionFeedback" }}
_="on click add .uk-text-{{ . }} wait 500ms then remove .uk-text-{{ . }}"
{{ end }}

{{ define "deleteButton" }}
{{ $hxTarget := .HXTarget }}
{{ $hxDelete := .HXDelete }}
<div class="uk-inline">
    <button class="uk-button uk-button-danger" type="button"><span uk-icon="trash"></span></button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li>
                <a hx-delete="{{ $hxDelete }}" hx-swap="swap:1s" hx-target="{{ $hxTarget }}" {{ template "closeModal"
                    }}>
                    <span uk-icon="ban"></span> Confirm Delete
                </a>
            </li>
        </ul>
    </div>
</div>
{{ end }}