{{ define "editOrDelete" }}
{{ $hxTarget := .HXTarget }}
{{ $hxDelete := .HXDelete }}
{{ $hxGet := .HXGet }}
<div class="uk-position-top-right uk-margin-small-top uk-margin-small-right">
    <ul class="uk-iconnav uk-iconnav-vertical">
        <li>
            <a hx-get="{{ $hxGet }}" hx-headers='{"Accept": "text/html"}' hx-target="#modals-here"
                uk-icon="icon: file-edit" _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
            </a>
        </li>
        {{ if and $hxDelete $hxTarget }}
        <li>
            <div class="uk-inline">
                <a href="#" class="uk-text-danger" uk-icon="icon: trash"></a>
                <div uk-dropdown>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li>
                            <a hx-delete="{{ $hxDelete }}" hx-swap="swap:1s" hx-target="{{ $hxTarget }}">
                                <span uk-icon="ban"></span> Confirm Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
</div>
<div id="modals-here"></div>
{{ end }}

{{ define "modalButtons" }}
<button type="submit" class="uk-button uk-button-primary"
    _="on click take .uk-open from #modal wait 200ms then remove #modal">Save Changes</button>
{{ template "modalCloseButton" }}
{{ end }}

{{ define "modalCloseButton" }}
<button id="cancelButton" type="button" class="uk-button uk-button-default"
    _="on click take .uk-open from #modal wait 200ms then remove #modal">Close</button>
{{ end }}

{{ define "actionFeedback" }}
_="on click add .uk-text-{{ . }} wait 500ms then remove .uk-text-{{ . }}"
{{ end }}