{{ define "cardEditButton" }}
<div class="uk-position-top-right uk-margin-small-top uk-margin-small-right uk-text-muted">
    <a hx-get="{{ . }}" hx-headers='{"Accept": "text/html"}' hx-target="#edit-modal-here" uk-icon="icon: file-edit; ratio: 1.5"
        _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
    </a>
</div>
{{ end }}

{{ define "closeModal" }}
_="on click take .uk-open from #modal wait 200ms then remove #modal"
{{ end }}

{{ define "modalSubmitButton" }}
<button type="submit" class="uk-button uk-button-primary" {{ template "closeModal" }}>
    Submit
</button>
{{ end }}

{{ define "modalCloseButton" }}
<button id="cancelButton" type="button" class="uk-button uk-button-default" {{ template "closeModal" }}>
    Close
</button>
{{ end }}

{{ define "actionFeedback" }}
_="on click add .uk-text-{{ . }} wait 500ms then remove .uk-text-{{ . }}"
{{ end }}

{{ define "deleteButton" }}
{{ $hxTarget := .HXTarget }}
{{ $hxDelete := .HXDelete }}
<div class="uk-inline">
    <button class="uk-button uk-button-danger" type="button"><span uk-icon="trash"></span></button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li>
                <a hx-delete="{{ $hxDelete }}" hx-swap="swap:1s" hx-target="{{ $hxTarget }}" {{ template "closeModal"
                    }}>
                    <span uk-icon="ban"></span> Confirm Delete
                </a>
            </li>
        </ul>
    </div>
</div>
{{ end }}

{{ define "startTimeInput" }}
<div class="uk-grid-small" uk-grid>
    <div class="uk-width-1-3@s">
        <label class="uk-form-label" for="start-time-hour">Hour</label>
        <input id="start-time-hour" class="uk-input" type="number" min="0" max="23" {{ if .StartTime }}
            value="{{ FormatInt00 .StartTime.Time.Hour }}" {{ end }} name="{{ .Name }}.Hour">
    </div>
    <div class="uk-width-1-3@s">
        <label class="uk-form-label" for="start-time-minute">Minute</label>
        <input id="start-time-minute" class="uk-input" type="number" min="0" max="59" {{ if .StartTime }}
            value="{{ FormatInt00 .StartTime.Time.Minute }}" {{ end }} name="{{ .Name }}.Minute">
    </div>
    <div class="uk-width-1-3@s">
        <label class="uk-form-label" for="start-time-tz">Timezone Offset</label>
        <select id="zone-position" class="uk-select" name="{{ .Name }}.TZ">
            {{ range TZOffsetOptions .StartTime }}
            <option value="{{ .Value }}" {{ .Selected }}>{{ .Name }}</option>
            {{ end }}
        </select>
    </div>
</div>
{{ end }}
