{{ define "NotesPage" }}
{{ template "start" }}
{{ template "Notes" . }}
{{ template "end" }}
{{ end }}

{{ define "Notes" }}
<div id="notes-list" uk-grid>
    {{ range .Items }}
    {{ template "NoteCard" . }}
    {{ end }}
</div>
{{ end }}

{{ define "NoteCardOOBPrepend" }}
<div hx-swap-oob="afterbegin:#notes-list">
    {{ template "NoteCard" . }}
</div>
{{ end }}

{{ define "NoteCard" }}
<div class="uk-width-1-2@m" id="note-card-{{ .ID }}" {{ if .OOBSwap }}hx-swap-oob="{{ .OOBSwap }}"{{ end }}>
    <div id="edit-modal-here"></div>
    <div class="uk-card uk-card-default" style="margin: 5%;">
        <div class="uk-card-header uk-text-center">
            <h3 class="uk-card-title uk-margin-remove-bottom">
                {{ .Title }}
            </h3>
            {{ template "cardEditButton" (print "/notes/" .ID "/components?type=edit_modal") }}
        </div>
        <div class="uk-card-body">
            <p class="uk-text-small uk-text-break">{{ .Content }}</p>
            {{ if or .GardenID .ZoneID }}
            <div class="uk-margin-small-top uk-text-meta">
                {{ if .GardenID }}
                <span uk-icon="icon: location; ratio: 0.75"></span> Garden: {{ .GardenName }}
                {{ end }}
                {{ if and .GardenID .ZoneID }}<br>{{ end }}
                {{ if .ZoneID }}
                <span uk-icon="icon: location; ratio: 0.75"></span> Zone: {{ .ZoneName }}
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="uk-card-footer">
            <div class="uk-clearfix">
                <div class="uk-float-left uk-text-meta">
                    <time datetime="{{ FormatRFC3339NonZero .CreatedAt }}" data-format="local"></time>
                </div>
                <div class="uk-float-right">
                    {{ template "deleteButton" ( args "HXDelete" (print "/notes/" .ID) "HXTarget" (print "#note-card-" .ID) ) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
