{{ define "innerHTML" }}
{{ $name := .Name }}
{{ if eq $name "" }}
{{ $name = .ID }}
{{ end }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title">{{ $name }}</h3>

        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ end }}

        {{ template "waterScheduleDetails" . }}

        <button id="cancelButton" type="button" class="uk-button uk-button-default"
            _="on click take .uk-open from #modal wait 200ms then remove #modal">Close</button>
    </div>
</div>
{{ end }}

{{ define "waterScheduleDetails" }}
<!-- TODO: Copied from water_schedules.html -->
<div class="uk-margin-bottom" uk-margin>
    <span class="uk-label uk-label-primary" uk-tooltip="Duration">
        <span uk-icon="future" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ FormatDuration .Duration }}
    </span>
    <span class="uk-label uk-label-primary" uk-tooltip="Start Time">
        <span uk-icon="clock" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ FormatTimeOnly
        .StartTime }}
    </span>
    <span class="uk-label uk-label-primary" uk-tooltip="Interval">
        <span uk-icon="refresh" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ FormatDuration
        .Interval }}
    </span>
    {{ if .ActivePeriod }}
    {{ $activePeriod := Sprintf "%s - %s" (ShortMonth .ActivePeriod.StartMonth) (ShortMonth .ActivePeriod.EndMonth) }}
    {{ if .IsActive timeNow }}
    <span class="uk-label uk-label-success" uk-tooltip="Active">
        <span uk-icon="calendar" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ $activePeriod }}
    </span>
    {{ else }}
    <span class="uk-label uk-label-danger" uk-tooltip="Inactive">
        <span uk-icon="calendar" class="uk-margin-small-top uk-margin-small-bottom"></span> {{ $activePeriod }}
    </span>
    {{ end }}
    {{ end }}
</div>
{{ end }}