{{ define "WaterScheduleModal" }}
{{ $name := .Name }}
{{ if eq $name "" }}
{{ $name = .ID }}
{{ end }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title uk-text-center">{{ if .Duration }}{{ $name }}{{ else }}Create Water Schedule{{ end }}
        </h3>

        <form _="on submit take .uk-open from #modal" hx-put="/water_schedules/{{ .ID }}"
            hx-headers='{"Accept": "text/html"}' hx-swap="none">
            <input type="hidden" value="{{ .ID }}" name="ID">
            <div class="uk-margin">
                <input class="uk-input" value="{{ .Name }}" placeholder="Name" name="Name">
            </div>
            <div class="uk-margin">
                <input class="uk-input" value="{{ .Description }}" placeholder="Description" name="Description">
            </div>
            <div class="uk-margin">
                <input class="uk-input" value="{{ if .Duration }}{{ .Duration }}{{ end }}" placeholder="Duration"
                    name="Duration">
            </div>
            <div class="uk-margin">
                <input class="uk-input" value="{{ if .Interval }}{{ .Interval }}{{ end }}" placeholder="Interval"
                    name="Interval">
            </div>
            <div class="uk-margin">
                <input class="uk-input"
                    value="{{ if .StartTime }}{{ RFC3339Nano .StartTime }}{{ else }}2006-01-02T15:04:05Z{{ end }}"
                    placeholder="Start Time" name="StartTime">
            </div>

            <div class="uk-margin">
                <select class="uk-select" name="ActivePeriod.StartMonth">
                    {{ MonthRows .ActivePeriod true }}
                </select>
            </div>
            <div class="uk-margin">
                <select class="uk-select" name="ActivePeriod.EndMonth">
                    {{ MonthRows .ActivePeriod false }}
                </select>
            </div>

            {{ template "modalButtons" }}
        </form>
    </div>
</div>
{{ end }}

{{ define "WaterScheduleDetailModal" }}
{{ $name := .Name }}
{{ if eq $name "" }}
{{ $name = .ID }}
{{ end }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title">{{ $name }}</h3>

        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ end }}

        {{ template "waterScheduleDetails" . }}
        {{ template "modalCloseButton" }}
    </div>
</div>
{{ end }}