{{ define "WeatherClientModal" }}
<div id="modal" class="uk-modal" style="display:block;" data-weather-client-id="{{ .ID }}">
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h3 class="uk-modal-title uk-margin-remove-bottom">
            {{ if .Name }}{{ .Name }}{{ else }}Create Weather Client{{ end }}
        </h3>
        {{ if .Type }}<p class="uk-text-meta uk-margin-remove-top uk-margin-small-top">{{ .Type }}</p>{{ end }}

        <form _="on submit take .uk-open from #modal" hx-put="/weather_clients/{{ .ID }}"
            hx-headers='{"Accept": "text/html"}' hx-swap="none">
            <input type="hidden" value="{{ .ID }}" name="ID">

            {{ if .Type }}
            <div class="uk-margin">
                <label class="uk-form-label" for="weather-client-name">Name</label>
                <input class="uk-input" id="weather-client-name" type="text" name="Name" value="{{ .Name }}">
            </div>
            <input type="hidden" value="{{ .Type }}" name="Type">
            <div id="config-form-container">
                {{ if eq .Type "netatmo" }}
                {{ template "WeatherClientNetatmoConfig" . }}
                {{ else if eq .Type "fake" }}
                {{ template "WeatherClientFakeConfig" . }}
                {{ else if eq .Type "openmeteo" }}
                {{ template "WeatherClientOpenMeteoConfig" . }}
                {{ end }}
            </div>
            {{ else }}
            <div class="uk-margin">
                <label class="uk-form-label" for="weather-client-name">Name</label>
                <input class="uk-input" id="weather-client-name" type="text" name="Name" placeholder="My Weather Client">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="weather-client-type">Type</label>
                <select id="weather-client-type" class="uk-select" name="Type"
                    hx-get="/weather_clients/components?type=config_form"
                    hx-target="#config-form-container"
                    hx-trigger="change"
                    hx-swap="innerHTML">
                    <option value="" selected disabled>Select Type...</option>
                    <option value="openmeteo">OpenMeteo (Free, no API key)</option>
                    <option value="netatmo">Netatmo (Weather Station)</option>
                    <option value="fake">Fake (For Testing)</option>
                </select>
            </div>
            <div id="config-form-container"></div>
            {{ end }}

            {{ template "modalSubmitButton" }}
            {{ if .Type }}
            {{ template "deleteButton" (
            args "HXDelete" (print "/weather_clients/" .ID) "HXTarget" (print "#weather-client-card-" .ID)
            ) }}
            {{ end }}
            {{ template "modalCloseButton" }}
        </form>
    </div>
</div>
{{ end }}