{{ define "ZonesPage" }}
{{ template "start" }}
<h1 class="uk-heading-small uk-text-center">{{ .Garden.Name }}</h1>
{{ template "Zones" . }}
{{ template "end" }}
{{ end }}

{{ define "Zones" }}
<div hx-swap="outerHTML" hx-get="/gardens/{{ .Garden.ID }}/zones?refresh=true" hx-headers='{"Accept": "text/html"}'
    hx-trigger="{{ if NotRefresh }}load, {{ end }}newZone from:body" hx-disinherit="*" uk-grid>
    {{ range .Items }}
    {{ template "ZoneCard" . }}
    {{ end }}
</div>
{{ end }}

{{ define "ZoneCard" }}
<div class="uk-width-1-2@m" id="zone-card-{{ .ID }}">
    <div id="edit-modal-here"></div>
    <div class="uk-card uk-card-default" style="margin: 5%;">
        <div class="uk-card-header">
            <h3 class="uk-card-title uk-margin-remove-bottom uk-text-center">
                <a href="/gardens/{{ .GardenID }}/zones/{{ .ID }}?limit=10&range=720h">{{ .Name }}</a>
            </h3>
            {{
            template "cardEditButton"
            (print "/gardens/" .GardenID "/zones/" .ID "/components?type=edit_modal")
            }}
        </div>
        <div class="uk-card-body">
            {{ template "nextWaterDetail" .NextWater }}
        </div>
        <div class="uk-card-footer">
            <div class="uk-clearfix">
                <div class="uk-float-left">
                    {{ template "zoneActionButton" . }}
                </div>
                <div class="uk-float-right">
                    {{ template "infoPopover" . }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "nextWaterDetail" }}
{{ if ExcludeWeatherData }}
<div class="uk-text-center">
    <div uk-spinner></div>
</div>
{{ else }}
{{ if and .Duration .Time }}
<div>
    Watering for
    <span class="uk-text-primary">{{ FormatDuration .Duration }}</span>
    {{ FormatUpcomingDate .Time }}
</div>
{{ end }}

{{ if .Message }}
<div class="uk-alert-danger uk-alert" uk-alert>
    <p class="uk-text-danger">{{ .Message }}</p>
</div>
{{ end }}
{{ end }}
{{ end }}

{{ define "infoPopover" }}
<div class="uk-inline">
    <div uk-dropdown>
        <p><b>{{ .ID }}</b></p>
        <p>Position: {{ .Position }}</p>
        <p>Water Schedules: {{ .WaterScheduleIDs }}</p>
    </div>
</div>
{{ end }}

{{ define "zoneActionButton" }}
<div id="action-modal-here"></div>
<div class="uk-inline">
    <button class="uk-button uk-button-default" type="button">Quick Water</button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li>
                <a hx-get="/gardens/{{ .GardenID }}/zones/{{ .ID }}/components?type=action_modal"
                    hx-headers='{"Accept": "text/html"}' hx-target="#action-modal-here"
                    _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">
                    Custom
                </a>
            </li>

            {{ template "quickWaterLinks" . }}
        </ul>
    </div>
</div>
{{ end }}

{{ define "quickWaterLinks" }}
{{ $zone := . }}
{{ range (ZoneQuickWater .) }}
<li>
    <a hx-post="/gardens/{{ $zone.GardenID }}/zones/{{ $zone.ID }}/action" hx-include="this" hx-swap="none" {{
        template "actionFeedback" "primary" }}>
        <input type="hidden" name="water.duration" value="{{ . }}"> {{ . }}
    </a>
</li>
{{ end }}
{{ end }}