{{ define "ZoneModal" }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title uk-text-center">
            {{ if .Zone.Name }}Edit {{ .Zone.Name }}{{ else }}Create Zone{{ end }}
        </h3>

        <form _="on submit take .uk-open from #modal" hx-put="/gardens/{{ .Garden.ID }}/zones/{{ .Zone.ID }}"
            hx-headers='{"Accept": "text/html"}' hx-swap="none">

            <input type="hidden" value="{{ .Zone.ID }}" name="ID">
            <input type="hidden" value="{{ RFC3339Nano .Zone.CreatedAt }}" name="CreatedAt">

            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-2-3@s">
                    <input class="uk-input" name="Name" placeholder="Name" value="{{ .Zone.Name }}">
                </div>
                <div class="uk-width-1-3@s">
                    <select class="uk-select" name="Position">
                        {{ range .Positions }}
                        <option value="{{ .Num }}" {{ .Selected }}>{{ .Num }}</option>
                        {{ end }}
                    </select>
                </div>
            </div>

            <div class="uk-margin">
                <input class="uk-input" value="{{ if .Zone.Details }}{{ .Zone.Details.Description }}{{ end }}"
                    name="Details.Description" placeholder="Description">
            </div>

            <div class="uk-margin">
                <input class="uk-input" value="{{ if .Zone.Details }}{{ .Zone.Details.Notes }}{{ end }}"
                    name="Details.Notes" placeholder="Notes">
            </div>

            <div class="uk-margin uk-child-width-auto uk-grid">
                {{ $selectedSchedules := .Zone.WaterScheduleIDs }}
                {{ range $index, $ws := .WaterSchedules }}
                {{ $name := .Name }}
                {{ if eq $name "" }}
                {{ $name = .ID }}
                {{ end }}
                <div class="uk-width-1-2@m">
                    <label>
                        <div class="uk-inline">
                            <input class="uk-checkbox" type="checkbox" name="WaterScheduleIDs.{{ $index }}"
                                value="{{ $ws.ID }}" {{ if ContainsID $selectedSchedules $ws.ID }}checked{{ end }}> {{
                            $name }}
                            <span class="uk-margin-small-right" uk-icon="icon: info; ratio: 0.75"></span>
                            <div uk-dropdown="pos: right-center">
                                {{ template "waterScheduleDetails" $ws }}
                            </div>
                        </div>
                    </label>
                </div>
                {{ end }}
            </div>

            <div class="uk-text-center">
                {{ template "modalSubmitButton" }}
                {{ if .Zone.Name }}
                {{ template "deleteButton" (
                args
                "HXDelete" (print "/gardens/" .Zone.GardenID "/zones/" .Zone.ID)
                "HXTarget" (print "#zone-card-" .Zone.ID)
                ) }}
                {{ end }}
                {{ template "modalCloseButton" }}
            </div>
        </form>
    </div>
</div>
{{ end }}

{{ define "ZoneActionModal" }}
<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h3 class="uk-modal-title uk-text-center">Actions</h3>

        <form class="uk-form-horizontal" hx-headers='{"Accept": "text/html"}'
            hx-post="/gardens/{{ .GardenID }}/zones/{{ .ID }}/action" hx-on::after-request="this.reset()"
            hx-swap="none">
            <input class="uk-input uk-form-width-small" type="text" placeholder="Duration" name="water.duration">
            <button class="uk-button uk-button-primary uk-margin-left" {{ template "closeModal" }}>Water Zone</button>
        </form>

        <div class="uk-margin-top">
            {{ template "modalCloseButton" }}
        </div>
    </div>
</div>
{{ end }}