{{ define "innerHTML" }}
<!-- TODO: breadcrumb to go back to zone -->
<h1 class="uk-heading-small uk-text-center">{{ .ZoneHistory.Zone.Name }}</h1>
<div uk-grid>
    {{ template "waterHistoryTable" .ZoneHistory }}
</div>
{{ end }}

{{ define "waterHistoryTable" }}
<div class="uk-card uk-width-1-1">
    <div class="uk-card-header uk-text-center">
        <h2>Water History</h2>
    </div>
    <div class="uk-card uk-card-body uk-card-default uk-margin-left uk-margin-right uk-margin-top">
        <table class="uk-table uk-table-divider uk-margin-left uk-margin-right">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Duration</th>
                </tr>
            </thead>

            <tbody>
                {{ range .History }}
                <tr>
                    <td>{{ .Duration }}</td>
                    <td>{{ FormatDateTime .RecordTime }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}